# Final Project - Introduction to Data Science

**Team members:**

1. Nguyễn Hoàng Trung Kiên (Leader) - 22127478

2. Quách Trần Quán Vinh - 22127460

3. Ngô Hải Bằng - 22127460

# I. Preprocessing:

### Importing libraries

In [3]:
import pandas as pd
import re

## 1. Data cleaning

#### Read data ####

In [4]:
df = pd.read_csv('houses.csv')
df

,Price,Rooms,Type,Status,Parking Spaces,Land Size,Building Size,Architecture Style,County,Provider
0,"USD $2,200 per month","3 bedroom(s), 2 bathroom(s)",House,Active,NaN,NaN,136.20 m2,Other,Mohave,"Black Mountain Valley Realty, Inc"
1,"USD $3,000 per month","2 bedroom(s), 3 bathroom(s)",Apartment,Active,NaN,161.87 m2,205.13 m2,Other,PHILADELPHIA,Compass
2,"USD $1,195 per month","1 bedroom(s), 1 bathroom(s)",Apartment,Active,NaN,768.90 m2,NaN,Other,PHILADELPHIA,OCF Realty
3,"USD $8,000 per month","4 bedroom(s), 3 bathroom(s)",Townhouse,Active,NaN,728.43 m2,213.68 m2,Other,Ventura,eXp Realty of California Inc.
4,"USD $5,600 per month","4 bedroom(s), 3 bathroom(s), 1 basement(s)",House,Active,4.0,849.84 m2,266.72 m2,Colonial,FAIRFAX,Keller Williams Fairfax Gateway
...,...,...,...,...,...,...,...,...,...,...
3995,"USD $2,050 per month","3 bedroom(s), 2 bathroom(s)",Other,Active,NaN,566.56 m2,175.03 m2,Contemporary,Maricopa,Realty ONE Group
3996,"USD $1,300 per month","2 bedroom(s), 1 bathroom(s)",Other,Active,NaN,930.78 m2,104.98 m2,Ranch,Maricopa,Real Living SJ Fowler Real Estate
3997,"USD $3,499 per month","4 bedroom(s), 3 bathroom(s)",Other,Active,NaN,890.31 m2,345.79 m2,Contemporary,Maricopa,HomeSmart
3998,"USD $10,900 per month","5 bedroom(s), 7 bathroom(s)",Other,Active,NaN,"1,254.53 m2",653.94 m2,Other,Maricopa,Russ Lyon Sotheby's International Realty
3999,"USD $2,300 per month","2 bedroom(s), 2 bathroom(s)",Other,Active,NaN,323.75 m2,115.85 m2,Contemporary,Maricopa,RE/MAX Alliance Group

#### Standardize data ####

Here we have columns ```Price``` , ```Building Size``` and ```Land Size``` need to be converted to float type

In [5]:
for i in range(len(df['Price'])):
    if df['Price'][i] != df['Price'][i]:
        df['Price'] = df['Price'].apply(lambda x: float(x.split('$')[1].split(' ')[0].replace(',', '')) if isinstance(x, str) else x)

In [6]:
for i in range(len(df['Building Size'])):
    if df['Building Size'][i] != df['Building Size'][i]:
        df['Building Size'] = df['Building Size'].apply(lambda x: float(x.split(' ')[0].replace(',', '')) if isinstance(x, str) else x)

In [7]:
for i in range(len(df['Land Size'])):
    if df['Land Size'][i] != df['Land Size'][i]:
        df['Land Size'] = df['Land Size'].apply(lambda x: float(x.split(' ')[0].replace(',', '')) if isinstance(x, str) else x)

```Rooms``` column will be converted into 3 other columns named ```Bedrooms```, ```Bathrooms``` and ```Basements```

In [8]:
bedrooms = df['Rooms'].apply(lambda x: int(re.search(r'(\d+) bedroom\(s\)', x).group(1)) if isinstance(x, str) and re.search(r'(\d+) bedroom\(s\)', x) else 0)
bathrooms = df['Rooms'].apply(lambda x: int(re.search(r'(\d+) bathroom\(s\)', x).group(1)) if isinstance(x, str) and re.search(r'(\d+) bathroom\(s\)', x) else 0)
basements = df['Rooms'].apply(lambda x: int(re.search(r'(\d+) basement\(s\)', x).group(1)) if isinstance(x, str) and re.search(r'(\d+) basement\(s\)', x) else 0)

df['Bedrooms'] = bedrooms
df['Bathrooms'] = bathrooms
df['Basements'] = basements

df = df.drop(columns=['Rooms'])

In [9]:
df.to_csv('test.csv')

### 1.1. Handle Missing Data

### 1.2. Handle Duplicate Rows

### 1.3. Other cleaning methods:

## 2. Features selection

## 3. Data normalization

# II. Exploration

- What is the meaning of each column? <br>
**Price:** Monthly rental price of the property in USD. <br>
**Rooms:** Number of bedrooms and bathrooms (may include basements). <br>
**Type:** Type of property (e.g., House, Apartment, Townhouse, etc.). <br>
**Status:** Current status of the property (e.g., "Active"). <br>
**Parking Spaces:** Number of parking spaces (can be empty if unknown). <br>
**Land Size:** Size of the land (in m2). <br>
**Building Size:** Size of the building (in m2). <br>
**Architecture Style:** Style of the property’s architecture (e.g., Colonial, Contemporary, Other). <br>
**County:** County in which the property is located. <br>
**Provider:** Name of the real estate agency or company listing the property. <br>

- What is the current data type of each column? Are there columns having inappropriate data types? <br>
**Price:** float (numeric, suitable for currency). <br>
**Rooms:** String (contains text describing rooms).
**Type:** string (categorical). <br>
**Status:** string (categorical). <br>
**Parking Spaces:** float (numeric, but potentially NaN for missing data). <br>
**Land Size:** float (numeric, but potentially NaN for missing data). <br>
**Building Size:** float (numeric, but potentially NaN for missing data). <br>
**Architecture Style:** string (categorical). <br>
**County:** string (categorical). <br>
**Provider:** string (categorical). <br>
**Inappropriate data types:** Columns such as "Price," "Land Size," and "Building Size" need conversion to numeric types after cleaning.

- With each column, how are values distributed? <br>
Price: Analyze distribution (e.g., histogram) to identify price ranges. <br>
Status: All values are "Active", indicating no variation in this dataset for this column. <br>
Rooms: Break down to check the distribution of room counts. 
It includes Bedrooms and Bathrooms: Ranges from 0 to 4 for bedrooms and from 1 to 3 for bathrooms, indicating a mix of studio apartments, multi-bedroom homes, and townhouses. <br>
Type: Count frequencies of different property types. <br>
Land Size/Building Size: Convert and visualize to understand property sizes. <br>
Architecture Style: Includes diverse styles like Colonial and Contemporary, with many listings under "Other". <br>
Provider: Multiple unique providers, with some repeating. <br>
Basements: Mostly zeros, with only a few properties indicating the presence of a basement.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
numerical_columns = ['Price', 'Parking Spaces', 'Land Size', 'Building Size', 'Bedrooms', 'Bathrooms', 'Basements']
for column in numerical_columns:
    plt.figure(figsize=(8, 4))
    sns.histplot(df[column], kde=True, bins=20)
    plt.title(f'Distribution of {column}')
    plt.xlabel(column)
    plt.ylabel('Frequency')
    plt.show()